/* main container styles */
.mainContainer {
    margin-top: 3rem; 
    transition: 2s ease-out;
}
.experienceHeader {
    margin-bottom: 1.5rem;    
}
.experienceIcon {
    margin-right: 0.6vw; 
    font-size: 1.6vw;
}

/* job title styles */
.jobTitle {
    font-size: 1.3rem;
}
.companyName {
    font-size: 1.1rem;
}

/* experience section styles */
.experienceSection {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    background-color: #f3f3f3;
}
.experienceContents {
    margin: 1rem;
}
.pItalic {
    font-style: italic;
    color: darkgreen;
}

/* Media query for devices upto 1024px screens */
@media only screen and (max-width: 1024px) {
    .experienceHeader {
        font-size: 1.5rem;
    } 
    .experienceIcon {
        font-size: 0.8em;
        margin-right: 0.5em;
    }   
    .jobTitle {
        font-size: 1.2rem;
    } 
}
/* Media query for devices upto 768px screens */
@media only screen and (max-width: 768px) {
    .experienceHeader {
        font-size: 1.5rem;
    } 
    .experienceIcon {
        font-size: 0.8em;
        margin-right: 0.5em;
    }   
    .jobTitle {
        font-size: 1.2rem;
    } 
}
/* Media query for devices upto 540px screens */
@media only screen and (max-width: 540px) {
    .experienceHeader {
        font-size: 1.5rem;
    } 
    .experienceIcon {
        font-size: 0.8em;
        margin-right: 0.5em;
    }   
    .jobTitle {
        font-size: 1.2rem;
    } 
}
/* Media query for devices upto 414px screens */
@media only screen and (max-width: 414px) {
    .experienceHeader {
        font-size: 1.5rem;
    } 
    .experienceIcon {
        font-size: 0.8em;
        margin-right: 0.5em;
    }   
    .jobTitle {
        font-size: 1.2rem;
    } 
}
/* Media query for devices upto 376px screens */
@media only screen and (max-width: 376px) {
    .experienceHeader {
        font-size: 1.5rem;
    } 
    .experienceIcon {
        font-size: 0.8em;
        margin-right: 0.5em;
    }   
    .jobTitle {
        font-size: 1.2rem;
    } 
}
/* Media query for devices upto 320px screens */
@media only screen and (max-width: 320px) {
    .experienceHeader {
        font-size: 1.4rem;
    } 
    .experienceIcon {
        font-size: 0.8em;
        margin-right: 0.5em;
    }   
    .jobTitle {
        font-size: 1rem;
    } 
}