.mainContainer {
    margin-top: 3rem; 
    transition: 2s ease-out;
}
.experienceHeader {
    margin-bottom: 1.5rem;    
}
h4 {
    font-size: 1.2rem;
}
.experienceSection {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    background-color: #f3f3f3;
}
.experienceContents {
    margin: 1rem;
}
.pItalic {
    font-style: italic;
    color: darkgreen;
}