/* about Icon styles section  */
.aboutMeIcon {
  width: 0.9em;
  height: 0.9em;
  margin-right: 0.3em;
}

/* About me main section  */
.aboutMeSection {
  margin-top: 1.5rem;
  display: flex; 
}
.contentClass {
  margin-left: 2em;
}
.contactClass {
  display: flex;
  flex-direction: column;
  line-height: 2vw;
  border-top: 1px solid #C1BDB5;
}
.contactDetails {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.pClass {
  font-family: sans-serif;
  color: black;
  font-size: 14px;
  margin-top: 3%;
}
.pEmail {
  color: orange; 
  margin-left: 5px;
}
.downloadClass{
  padding: 0.7em;
  width: 11em;
  background-color: orange;
  border-radius: 5em; 
}
.downloadClass:hover {
  cursor: pointer;
}
.myWorkClass {
  padding: 0.7em;
  width: 12em;
  border-radius: 5em;
  background-color: #C1BDB5; 
  margin-left: 1.2vw;
  color: black;
}
.myWorkClass:hover {
  color: orange;
}
.aboutSectionBtn {
  display: flex;
  flex-wrap: wrap;
}
.aboutSectionBtn a:link {
  text-decoration: none;
}

/* class to style PDF page  */
.printSource {
  padding: 4em;
}
/* Media query for devices upto 540px screens */
@media only screen and (max-width: 540px) {
  .aboutMeSection {
    display: flex;
    flex-direction: column; 
  }
  .imageSection {
    display: none;
  }
  .contentClass {
    /* border: 2px solid purple; */
    /* width: 100%; */
    margin: 0 auto;
  }
  .myWorkClass {
    /* border: 2px solid purple; */
    width: 20.5em;
    padding: 0.7em 3em;
  }
  .emailSmall {
   display: none;
  }
  .aboutSectionBtn {
    /* border: 2px solid red; */
    /* width: 15em; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7em;
    /* margin-top: 5em; */
  }  
}
/* Media query for devices upto 414px screens */
@media only screen and (max-width: 414px) {
  .aboutMeSection {
    display: flex;
    flex-direction: column; 
  }
  .imageSection {
    display: none;
  }
  .contentClass {
    /* border: 2px solid purple; */
    /* width: 100%; */
    margin: 0 auto;
  }
  .myWorkClass {
    /* border: 2px solid purple; */
    width: 20.5em;
    padding: 0.7em 3em;
  }
  .emailSmall {
   display: none;
  }
  .aboutSectionBtn {
    /* border: 2px solid red; */
    /* width: 15em; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7em;
    /* margin-top: 5em; */
  }  
}
/* Media query for devices upto 376px screens */
@media only screen and (max-width: 376px) {
  .aboutMeSection {
    display: flex;
    flex-direction: column; 
  }
  .imageSection {
    display: none;
  }
  .contentClass {
    /* border: 2px solid purple; */
    /* width: 100%; */
    margin: 0 auto;
  }
  .myWorkClass {
    /* border: 2px solid purple; */
    width: 20.5em;
    padding: 0.7em 3em;
  }
  .emailSmall {
   display: none;
  }
  .aboutSectionBtn {
    /* border: 2px solid red; */
    /* width: 15em; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7em;
    /* margin-top: 5em; */
  }  
}
/* Media query for devices upto 320px screens */
@media only screen and (max-width: 320px) {
  .aboutMeSection {
    display: flex;
    flex-direction: column; 
  }
  .imageSection {
    display: none;
  }
  .contentClass {
    /* border: 2px solid purple; */
    /* width: 100%; */
    margin: 0 auto;
  }
  .myWorkClass {
    /* border: 2px solid purple; */
    width: 20.5em;
    padding: 0.7em 3em;
  }
  .emailSmall {
   display: none;
  }
  .aboutSectionBtn {
    /* border: 2px solid red; */
    /* width: 15em; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7em;
    /* margin-top: 5em; */
  }  
}