/* about Icon styles section  */
.aboutMeIcon {
  width: 0.9em;
  height: 0.9em;
  margin-right: 0.3em;
}

/* About me main section  */
.aboutMeSection {
  margin-top: 1.5rem;
  display: flex; 
}

.imageSection {
  width: 15em;
}

.contentClass {
  margin-left: 2em;
  width: 75%;
}

.contactClass {
  display: flex;
  flex-direction: column;
  line-height: 2vw;
  border-top: 1px solid #C1BDB5;
}

.contactDetails {
  /* border: 2px solid red; */
  padding: 0em 0 1.5em 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* box-sizing: border-box; */
}

.pClass {
  font-family: sans-serif;
  color: black;
  /* font-size: 14px; */
  font-size: 1rem;
  margin-top: 1em;
}

.personalEmail {
  color: orange; 
  margin-left: 5px;
  font-size: 1rem !important;
}
.personalEmail:hover {
  text-decoration: none;
  color: orange;
}

.downloadClass{
  /* padding: 0.7em; */
  padding: 0.5em 1.3em;
  /* width: 10em; */
  background-color: orange;
  border-radius: 5em; 
  font-size: 0.9rem;
}

.downloadClass:hover {
  cursor: pointer;
  color: white !important;
}

.myWorkClass {
  /* padding: 0.7em; */
  padding: 0.5em 2em;
  /* width: 10em; */
  border-radius: 5em;
  background-color: #C1BDB5; 
  /* margin-left: 1.2vw; */
  margin-left: 0.3em;
  color: black;
  font-size: 0.9rem;
}

.myWorkClass:hover {
  color: orange;
}

.aboutSectionBtn {
  display: flex;
  flex-wrap: wrap;
}

.aboutSectionBtn a:link {
  text-decoration: none;
}

/* class to style PDF page  */
@media print {
  @page {
    size: A4 landscape;
    margin: 20mm;
  }
  .printSource {
    padding-right: 2em;
    padding-left: 2em;
  }
}  

/* Media query for devices upto 540px screens */
@media only screen and (max-width: 540px) {
  .aboutMeSection {
    display: flex;
    flex-direction: column; 
  }
  .imageSection {
    display: none;
  }
  .contentClass {
    margin: 0 auto;
  }
  .myWorkClass {
    width: 20.5em;
    padding: 0.7em 3em;
  }
  .emailSmall {
   display: none;
  }
  .aboutSectionBtn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7em;
  }  
}

/* Media query for devices upto 414px screens */
@media only screen and (max-width: 414px) {
  .aboutMeSection {
    display: flex;
    flex-direction: column; 
  }
  .imageSection {
    display: none;
  }
  .contentClass {
    margin: 0 auto;
  }
  .myWorkClass {
    width: 20.5em;
    padding: 0.7em 3em;
  }
  .emailSmall {
   display: none;
  }
  .aboutSectionBtn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7em;
  }  
}

/* Media query for devices upto 376px screens */
@media only screen and (max-width: 376px) {
  .aboutMeSection {
    display: flex;
    flex-direction: column; 
  }
  .imageSection {
    display: none;
  }
  .contentClass {
    margin: 0 auto;
  }
  .myWorkClass {
    width: 20.5em;
    padding: 0.7em 3em;
  }
  .emailSmall {
   display: none;
  }
  .aboutSectionBtn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7em;
  }  
}

/* Media query for devices upto 320px screens */
@media only screen and (max-width: 320px) {
  .aboutMeSection {
    display: flex;
    flex-direction: column; 
  }
  .imageSection {
    display: none;
  }
  .contentClass {
    margin: 0 auto;
  }
  .myWorkClass {
    width: 20.5em;
    padding: 0.7em 3em;
  }
  .emailSmall {
   display: none;
  }
  .aboutSectionBtn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7em;
  }  
}