.resumeContainer {
    display: flex;
}
.leftSection {
    /* border: 2px solid red; */
    width: 15.5em;
    margin-right: 1em;
}
.rightSection {
    /* border: 2px solid yellow; */
    width: 100%;
}