.resumeContainer {
    display: flex;
}
.leftSection {
    border: 2px solid red;
    /* display: flex; */
    width: 22em;
    margin-right: 0.8em;
}
.rightSection {
    border: 2px solid yellow;
    width: 100%;
}