.cvProjectSection {
    border: 2px solid red;
    margin-top: 1em;
}
.cvProjectContainer {

}
.cvProjectTitle {
    border-bottom: 1.5px solid black;
    padding-left: 0.5em;
    font-weight: 600;
    font-size: 1.6rem;
}
.cvProjectCard {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
}
.cvProjectName {
    /* border: 2px solid yellow; */
    font-size: 1.2rem;
    margin-bottom: 0.2em;
    /* padding-bottom: 2.5em; */
}
.cvProjectDescription {
    line-height: 1.2rem;
}