.navigationBtn {
    display: flex;
    margin-top: 4rem;
    margin-bottom: 4rem;
    flex-wrap: wrap; 
    float: right;
}
.previousBtn {
    padding:0.4rem;
    width: 11rem;
    border-radius: 5em;
    background-color:  orange; 
    text-decoration: none;
    color: white;
    font-weight:bold;
    text-align: center;
    margin: 0.3rem;
} 
.previousBtn:hover {
    color: black;
}
.navigationBtn a:link {
    text-decoration: none;
}