/* project section styling where all projects are displayed */
.projSectionTitle {
  margin-left: 2em;
}
.projectSection {
  /* border: 2px solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1.5rem;
}
.projectCard {  
  width: 18rem;
  margin-bottom: 5%;
  margin-right: 2.5em;
  margin-left: 2.5em;
  background-color:"#f3f3f3";
  border:"none";
}
.projectCard:hover {
  box-shadow: 0px 0px 6px 0 #c6c6c6;
}

/* heading for each project  */
.projectName {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  font-family: sans-serif;
  padding: 0.5em;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.05rem;   
}

/* image used for each project */
.projectImage {
  width:20em;
  height: 20em;    
  animation: mymove 5s infinite;
} 

/* styling of each item in the project card */
.projectContents {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

/* styling of Icons used in project section and project card */
.iconSection {
  padding: 15%;
  display: flex; 
  justify-content: space-around;   
}
.classIcon {
  width: 2em;
  height: 2em;
  margin-left: 2rem;
  color: black;
}

/* media query for iPad Pro and small screens */
@media only screen and (max-width: 1024px) {
  .classSpan {
    margin-left: 2em;
  }    
} 
.projectIcon {
  width: 0.5em;
  height: 0.5em;
  margin-right: 0.3em;
}

/* Styling of Tooltip used for icons  */
.classTooltip {
  display: none;
}
.toolTipp:hover .classTooltip { 
  display: block;
  padding: 0.5rem 0 0 0;
  position: absolute;
  font-size: 0.8rem;
  font-weight: bold;
  color:black; 
}

/* Tooltip for project description, shows up on description Icon */
.classToolTipBubble {
  display: none;
}
.classToolTipBubble span {
  width: 12rem;
  height: 12rem;
}
.toolTip:hover .classToolTipBubble { 
  display: block;
  font-size: 0.8rem;
}
#description {
  border-radius: 1.5rem;
  padding: 1.5rem;
  background-color: orange;
}

/* styling of flip related effect of project image  */
.flipBox {
  width: 20em;
  height: 20em;
  /* border: 0.1px solid #C1BDB5; */
  perspective: 1000px;
}  
.flipBox-inner {
  position: relative;
  width: 100%;
  height: 100%;
  /* transition: transform 0.9s; */
  transition: transform 1.5s;
  transform-style: preserve-3d;
}  
.flipBox:hover .flipBox-inner {
  transform: rotateY(180deg);
}  
.flipBox-front, .flipBox-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flipBox-back {
  background-color: orange;
  color: white;
  transform: rotateY(180deg);
}
.stacksHeader {
  border-bottom: 1px solid white; 
  background: orange;
  padding: 0.6em;
  text-align: center; 
  font-size: 1rem;
}

/* styling on the backside of a project image */
.techStackClass {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.techElements {
  padding: 0.5em;
  text-align: center;
}
/* Media queries for small devices like max-width:540px */
@media only screen and (max-width: 540px) {
  .projectCard {  
     margin-bottom: 12%;
  }
  .flipBox {
    width: 100%;
  }  
  .projectImage {
    width: 100%;    
  } 
}
/* Media queries for small devices like max-width:768px */
@media only screen and (max-width: 768px) {
  .projectSection {
    /* width: 100%; */
  }
  .projectCard {
    width: 18rem;
    margin-bottom: 3em;
    margin-right: 1.5em;
    margin-left: 1.5em;
    /* margin-bottom: 12%; */
  }
  .flipBox {
    width: 100%;
  }  
  .projectImage {
    width: 100%;    
  } 
}

/* Media queries for small devices like max-width:414px */
@media only screen and (max-width: 414px) {
  .projectCard {  
     margin-bottom: 12%;
  }
  .flipBox {
    width: 100%;
  }  
  .projectImage {
    width: 100%;    
  } 
}

/* Media queries for small devices like max-width:376px */
@media only screen and (max-width: 376px) {
  .projectCard {  
     margin-bottom: 12%;
  }
  .flipBox {
    width: 100%;
  }  
  .projectImage {
    width: 100%;    
  } 
}

/* Media queries for small devices like max-width:320px */
@media only screen and (max-width: 320px) {
  .projectSection {
    /* border: 2px solid black; */
  }
  .projectCard {  
    /* border: 2px solid red; */
    /* width: 25rem; */
     margin-bottom: 12%;
    /*margin-right: 2.5em;
    margin-left: 2.5em;
    background-color:"#f3f3f3";
    border:"none"; */
  }
  .flipBox {
    width: 100%;
  }  
  .projectImage {
    width:100%;    
  } 
}