.languageTitle {
    margin-top: 1em;
    border-bottom: 1.5px solid black;
    font-weight: 600;
    font-size: 1.6rem;
}

.languageCard {
    display: flex;
    flex-direction: column;
}
.languageName {
    font-weight: 600;
    padding-bottom: 0.3em;
}
.languageLevel {
    color: rgb(133, 130, 130);
    margin-bottom: 0.5em;
    font-style: italic;
    font-size: 0.7rem;
}