.cvSkillSection {
    display: flex;
    flex-direction: column;
}
.cvSkillsTitle {
    border-bottom: 1.5px solid black;
    font-weight: 600;
    font-size: 1.6rem;
}
.cvSkillsContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cvSkillCard {
    /* border: 2px solid red; */
    background-color: rgb(36, 36, 63);
    color: white;
    text-align: center;
    padding: 0.7em;
    width: 8em;
    border-radius: 0.2em;
    margin-bottom: 0.5em;
}