h3 {
  margin-bottom: 1.5rem;
}
.contactElements {
  color: white;
  font-size: 0.6rem;
}
.contactContainer{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 40%;    
  background-color:#f3f3f3;
  padding: 3rem;
  margin-top: 1.5rem;
}
.socialMediaSection {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  color: white;
  width: 17.5rem;
  height: 96%;
  transform: skew(20deg);
  background: orange;
}
.classIcon {
  width: 2em;
  height: 2em;
  color: black;
  margin-right: 0.3em;
}
.socialMediaIconClass {
  margin-top: 35%; 
  display: flex; 
}
.contactFormSection {
  height: 80%;
}
.toolTip {
  margin-right: 1rem;
}
.classTooltip {
  display: none;
  margin-left: 2rem;
}
.toolTip:hover .classTooltip { 
  display: block;
  padding: 0.1rem;
  position: absolute;
  font-size: 12px;
  color: white;
}
@media only screen and (max-width: 1024px) {
  .socialMediaSection {
    transform: none;
    margin-bottom: 2em;
    height: 70%;
  }
  .contactContainer{
    height: 40vh; 
  }
  .socialMediaIconClass {
    justify-content: center;
  }
  .classIcon {
    margin-left: -0.3em;
  }
} 
@media (min-width: 769px) and (max-width: 1000px) {
  .socialMediaSection {
    width: 30%;
    min-height: 50%;
    word-break: break-all;
  }
  .contactContainer{
    height: 35%; 
  }
}
@media only screen and (max-width: 768px) {
  .socialMediaSection {
    transform: none;
    margin-bottom: 2em;
    width: 37%;
    min-height: 50%;
  }
  .contactContainer{
    height: 32%; 
  }
  .socialMediaIconClass {
    justify-content: center;
  }
  .classIcon {
    margin-left: -0.3em;
  }
}
@media (min-width: 481px) and (max-width: 767px) {  
  .socialMediaSection {
    transform: none;
    word-break: break-all;
    margin-bottom: 2em;
    min-width: 19em;
  }
  .contactContainer{
    min-height: 160vh;  
  }
  .socialMediaIconClass {
    justify-content: center;
  }
}
@media (min-width: 320px) and (max-width: 480px) {  
  .socialMediaSection {
    transform: none;
    word-break: break-all;
    width: 100%;
    height: 8em;
  }
  .contactContainer{
    height: 165vh; 
  }
  .socialMediaIconClass {
    justify-content: center;
  }
  .classIcon {
    margin-left: -0.3em;
  }  
}

