.workExperienceContainer {
    /* padding-left: 1em; */
}
.experienceMainCard {
    padding-left: 1em;
    /* margin-right: 0.5em; */
}

.experienceTitle {
    margin-top: 1em;
    border-bottom: 1.5px solid black;
    /* padding-bottom: 0.2em; */
    padding-left: 0.5em;
    font-weight: 600;
    font-size: 1.6rem;
}

.jobTitle {
    font-weight: 600;
    font-size: 1.2rem !important;
}

.companyNameTitle {    
    line-height: 0.2em;
    font-weight: 400;
    padding-bottom: 0.3em;
    font-size: 1.6rem !important;
}

.jobDetailSection {
    display: flex;
    flex-direction: column;
}

.jobDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timePeriod {
    display: flex;
    flex-direction: column;
    line-height: 1.7em;
}

.taskDetails {
    padding-left: 1em;
}
.taskDescription {
    margin: 1em 0 0 1em;
    list-style-type: square;
}